[Unit]
Description=Process Monitoring and Control Daemon
After=rc-local.service nss-user-lookup.target

[Service]
Type=forking
ExecStart=/rt/start.sh

[Install]
WantedBy=multi-user.target
